<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="C:\Users\Christine\Documents\GitHub\ChristineTChen.github.io\public\stylesheets\Christine.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

<div class="container">
  <h1>Christine Chen</h1>
  <p>Student at Northeastern University</p> 
</div>

</body>
</html>